

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: var(--fontfamily);
  background: var(--background);
  color: var(--textcolor);
}
:root{
  --background:#28303D;
  --textcolor:#FFF;
  --purpleColor:#AA00FA;
  -black:#000;
  --fontfamily:'Comfortaa', cursive;
  --fontsizeHeading:21px;
  --subheadingFontsize:16px;
  --fontsizeParagraph:11px;
}
body {
  display: grid;
  place-items: center;
}
.waitinglist{
  width: 70%;
  align-items: center;
  margin-top: 2rem;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%);
}
.waitinglist h1{
  margin: 2rem;
  font-size: var(--fontsizeHeading);
}
.formWait form input[type ="submit"]:valid{
  border: 1px solid var(--purpleColor);
}
.waitinglist p{
margin-top:2rem;
color: var(--purpleColor);
font-size: var(--subheadingFontsize);
width: 60%;
}
.formWait{
  margin: 2rem;
 
}
.formWait form{
  width: 100%;
}

.formWait form input[type ="email"]{
  width: 300px;
  background: var(--textcolor);
  color: var(--background);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  height: 40px;
  outline: none;
  padding-left:10px;
}

.formWait form input[type ="submit"]{
  width: 100px;
  background: var(--purpleColor);
  color: var(--textcolor);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  height: 40px;
  outline: none;
  cursor: pointer;
  padding-left:10px;
}
span{
  font-size:var(--fontsizeParagraph);
}

@media (max-width:690px){
  .waitinglist{
    padding: 3rem;
    overflow: hidden;
    width: 90%;
    align-items: center;
    margin-top: 2rem;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .waitinglist h1{
    margin: 2rem;
    font-size: var(--fontsizeHeading);
  }
  .waitinglist p{
  margin-top:2rem;
  margin-left: 1rem;
  width: 100%;
  color: var(--purpleColor);
  font-size: var(--subheadingFontsize);
  }
  .formWait{
    margin: 2rem;
   
  }
  .formWait form{
    width: 100%;
  }
  
  .formWait form input[type ="email"]{
    width: 200px;
    background: var(--textcolor);
    color: var(--background);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    height: 40px;
    outline: none;
    padding-left:10px;
  }
  
  .formWait form input[type ="submit"]{
    width: 100px;
    background: var(--purpleColor);
    color: var(--textcolor);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    height: 40px;
    outline: none;
    padding-left:10px;
  }
}

@media (max-width:420px){
  .formWait form{
    width: 100%;
  }
  
  .formWait form input[type ="email"]{
    width: 90%;
    background: var(--textcolor);
    color: var(--background);
    border: none;
    height: 40px;
    outline: none;
    padding-left:10px;
    border-radius: none;
    margin-bottom: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .formWait form input[type ="submit"]{
    width: 92%;
    background: var(--purpleColor);
    color: var(--textcolor);
    border: none;
    height: 40px;
    outline: none;
    padding-left:10px;
    border-radius:20px;
  }
}