

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: var(--fontfamily);
  background: var(--background);
  color: var(--textcolor);
}
:root{
  --background:#28303D;
  --textcolor:#FFF;
  --purpleColor:#AA00FA;
  -black:#000;
  --fontfamily:'Comfortaa', cursive;
  --fontsizeHeading:21px;
  --subheadingFontsize:16px;
  --fontsizeParagraph:11px;
}
